


/* header navbar style */
nav{ display: flex; justify-content: space-between; margin: 10px 120px; align-items: center;}
nav>a{ text-decoration: none; color: rgb(13,19,33);}.left{font-size: 28px; font-weight: 800;}.right{font-size: 20px; font-weight: 600; width: 170px; height: 30px; border: 1px solid rgb(13,19,33); padding: 10px 40px;}

/* header secton style */
 .content{ background-image: url(assets/Hero-bg.png); }

 .ddd{ height:655px; width: auto;  margin: 30px auto;  display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 35px 530px; gap:50px ;}

.textcenter {display: block; text-align: center;margin-top: 0px;}

  .button1{ display: flex ; justify-content: center;  }

   .button2{ background-color: rgb(13,19,33); height: 60px; width: 200px; color: white; margin: auto;}

  /* main 1section style */
  main>section{  margin-top: 130px; padding: 0px 130px; padding: 0px 400px; }

  .mainparent{ padding: 130px 0px;}

  .textcenter{  display: block; text-align: center;}

  .divtext ,.divtext2{display: flex; justify-content: space-between; padding: 30px;}
  
  .divtext1{display: flex; padding: 30px; align-items: flex-start;} 

  .img2{padding-right: 50px;}

  

  .textarea h3,p{ padding-bottom: 40px; } .a1{ text-decoration: none; color: rgb(13,19,33);}
  
main div button {height: 30px ; width: 100px; }
   /* section2 style */
   

   .videosection>h1,p{ display: block; text-align: center; margin-top: 0%; }
   iframe{border-radius:4% ; }

   .video{ display: flex; justify-content: center;  align-items: center;}